<div class="posts">
  {{#each BlogPosts as | BlogPost }}
    <article class="card">
      <div class="card-header bg-light flex-row justify-space-between">
        <h2>
          <a href="/post/{{BlogPost.id}}">{{BlogPost.title}}</a>
        </h2>
        <div>
          Post by
          {{BlogPost.user.username}}
          on
          {{format_date BlogPost.date_created}}
        </div>
      </div>
    </article>
  {{/each}}
</div>