body {
    background-color: whitesmoke;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    height: 100%
}
html{
    scroll-behavior:smooth;    
}

header{
    background-color: black;
    padding: 10px;
    font-family: 'Pacifico', cursive;
}

.navbar{
    color: white;
}